body {/* background vertical gradient from blue to green */
  font-family: 'Arial', sans-serif;
  background: linear-gradient(180deg, #b7e5d8 30%, #a8e0f1 100%); 
  margin: 0;
  padding: 20px;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.fortune-generator {
  text-align: center;
}

.title {
  color: #000000;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.cookie-button { /*handles what the fortune button looks like and what happens when mouse hovers over it*/
  font-size: 150px; 
  background: none; 
  border: none; 
  cursor: pointer; 
  transition: transform 0.2s;
}

.cookie-button:hover {  /*causes button to hover slighty when mouse hovers over it*/
  transform: scale(1.1); 
}

.fortune-text,
.lucky-numbers {
  margin-top: 15px;
  font-size: 18px;
  color: #000000;
  line-height: 1.5;
}
